body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: red; */
}
.app{
  padding: 20px;
}

.app.light{
  background-color: #fff;
  color:#000;
}

.app.dark{
  background-color: #000;
  color:#fff;
}

.grid{
  display:grid;
  grid-template-columns: repeat(auto-fill,minmac(250px,1fr));
  gap:15px;
}

.card{
  padding: 15px;border-radius: 8px;background: rgb(138, 185, 239);
  
}

.app.dark .card{
  background:green;
}

button {
  margin-right :8px;
}

button.delete{
  background-color: #cc0a0a;
  color:#fff;
}

button.edit{
  background-color: #ccb20a;
  color:#fff;
}


